:root {
    --primary-color: #248FEF;
    --secondary-color: #ffffff;
    --disabled-color: #91CBFF; /* Fixed typo */
}

.menu-container {
    display: flex;
    justify-content: center; /* Adjust the spacing */
    align-items: center;
    color: #248FEF;
    gap: 50px;
  }
  
.menu-item {
    color: var(--primary-color);
    text-transform: none;
    font-size: 18px;
    font-weight: 500;
    width: 100px;
  }
  
.menu-item:hover {
    background-color: rgba(36, 143, 239, 0.8);
    border-radius: 5px;
    color: #ffffff;
  }
  